.mat-drawer-backdrop.mat-drawer-shown {
  position: fixed !important;
}

.example-sidenav {
  width: 200px;
  background: rgba(59, 17, 142, 0.72);
  left: 0;
  position: fixed;
}

.nav-list {
  padding: 0;

  li {
    list-style-type: none;
    background-color: #624798;
    padding: 0.5em;
    color: white;
  }
}