<ng-container>
  <mat-sidenav-container class="example-container">

    <mat-sidenav #sidenav mode="over" opened="false" class="example-sidenav">

      <ul class="nav-list">
        <li>
          <!-- create a service method to use instead of routerLink -->
          <a [routerLink]="['/']">
            Root
          </a>
        </li>
        <li>
          <!-- create a service method to use instead of routerLink -->
          <a [routerLink]="['/dashboard']">
            Dashboard
          </a>
        </li>
        <li>
          <!-- create a service method to use instead of routerLink -->
          <a [routerLink]="['/products']">
            Produtos
          </a>
        </li>
      </ul>
    
    </mat-sidenav>

    <mat-sidenav-content>
      <button mat-button (click)="sidenav.toggle()">Menu</button>
    </mat-sidenav-content>

  </mat-sidenav-container>
</ng-container>