.header {
    background-color: #61367b;
    box-shadow: 0px 0px 3px 2px #9c9c9c;
    
    // .header-content {
    //     margin-top: 0.5em;
    //     margin-top: 0.5em;
    // }
}

.menu-settings {
    
    ul {
        list-style-type: none;
        margin: 0;
    }

    ul li {
        display: inline-block;
    }
}