<form [formGroup]="formGroup" class="form-signin" (ngSubmit)="submit(formGroup)">

    <div class="text-center">
        <img class="mb-4" src="../../../assets/images/logo.png" alt="company logo" width="150" height="150">
    </div>

    <div>
        <input type="email" formControlName="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <input type="password" formControlName="password" id="inputPassword" class="form-control" placeholder="Password" required>
        
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </div>
    
    <a href="#">Forgot my password</a>
    <p class="mt-5 mb-3 text-muted">&copy; 2018</p>

</form>

<pre>
    {{ formGroup.value | json }}
</pre>