<p-sidebar
  [(visible)]="display"
  position="right">
    <!-- must be dynamic content -->
  <div>quick menu</div>
  <ul>
    <!-- <li>
      <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Star (favoritos)
    </li> -->
    <li>
      notas
    </li>
    <li>
      Tasks Progress
    </li>
    <li>
      Contacts
    </li>
  </ul>
</p-sidebar>

<button
  pButton
  class="btn btn-default"
  (click)="display = true"
  icon="fa-external-link-square"
  label="Show">
  {{ label }}
</button>