<!-- <div class="container">

  <p>
    dashboard works!
  </p>
  
  1. Análises
  2. Projeções
  3.
 
  <app-charts [type]="'bar'"></app-charts>

</div> -->

<!-- Begin page content -->
<main role="main" class="container">
  <h2 class="mt-5">Welcome</h2>

  <div class="row">
    <div class="col-md-4">
      <app-charts [type]="'bar'"></app-charts>
    </div>
    <div class="col-md-4">Based on widgets</div>
    <div class="col-md-4">widgets concepts - api concepts</div>
  </div>

</main>

<footer class="footer">
  <div class="container">
    <span class="text-muted">Place sticky footer content here.</span>
  </div>
</footer>
