<h3>Products</h3>

<p-table
    [columns]="cols"
    [value]="data.data"
    [paginator]="true"
    [rows]="10"
    paginatorPosition="both">

    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of cols">
                {{ col.header }}
            </th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
            <td *ngFor="let col of cols">
                {{ rowData[col.field] | truncate: 10 }}
            </td>
        </tr>
    </ng-template>

</p-table>